body{
    margin:0;
    width: 100%;
    height: 100%;
    font-family:"Microsoft JhengHei","Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    background-color: whitesmoke;
}

.heading{
    font-weight: bold;
}

.content{
    color: black;
}

.toppane{
    width: 100%;
    height: 7.5%;
    background-color: steelblue;
}

#header{
    font-size: 22pt;
    font-weight: bold;
    color: white;
    border-collapse: collapse;
    margin: 0;
    padding-left: 6pt;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tabpane{
    width: 100%;
    height: 92.5%;
    color: white;
    border-collapse: collapse;
}

/*The following is written specifically for the internship project*/
.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.display
{
    width: 100%;
    height: 90%;
}

.dash_display
{
    width: 100%;
    height: 100%;
}

.dash_display::-webkit-scrollbar
{
    display: none;
}

#login_title
{
    width: 44rem;
    margin-top: 10rem;
}

#logout_block
{
    margin:0;
}

#account_block
{   
    width: 22rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main_title
{   
    height: 100%;
}

.key-btn
{
    background-color: #9DB4C0 !important;
    border-color: #9DB4C0 !important;
}
