<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.min.css') }}">        

        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <!--Bootstrap Inclusion-->
        
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='app.css') }}">
        <!--CSS above-->
        
        <script>
            $(function(){
                $("#tabs").tabs();
            });
        </script>
        <!--jQuery: Tabs-->
        
        <script>
            function logout()
            {
                 location.href = "/logout";
            } 
        </script>
        <!--Logout Redirection-->
    </head>
    
    <body>
        <!--Header Section-->
        <div class="toppane">
            <img src="{{url_for('static', filename='main_title.png')}}" id="main_title"/>
            <span style="margin-top: 50%; margin-bottom: auto; color: white">
                使用者帳號：{{ usrname }}
                <button type="button" class="btn btn-light float-right" onclick="logout()">登出</button>
            </span>
        </div>
        
        <!--Tabs Section-->
        <div class="tabpane">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">說明</a></li>
                    <li><a href="#tabs-2">歷史監控</a></li>
                    <li><a href="#tabs-3">模型訓練</a></li>
                    <li><a href="#tabs-5">關於</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="display">
                        <p class="heading">網站地圖</p>
                        <p class="content">內容待補</p>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="display">
                        <iframe class="dash_display" src="http://localhost:8050" scrolling="no"></iframe>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="display">
                        <iframe class="dash_display" src="http://localhost:8003" scrolling="no" ></iframe>
                    </div>
                </div>
                <div id="tabs-5">
                    <div class="display">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>