<html>
    <head>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='app.css') }}">
        <!--CSS above-->
                
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function(){
                $("#tabs").tabs();
            });
        </script>
        <!--Tabs code above-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--Bootstrap code above-->

        <script>
            function logout()
            {
                 location.href = "/logout";
            } 
        </script>
        <!--To log out-->

    </head>
    
    <body>
        <!--Header Section-->
        <div class="toppane">
            <p id="header">智慧能源預測<button type="button" style="float: right; margin-right: 1em;" class="btn btn-light" onclick="logout()">登出</button>
            </p>
        </div>
        
        <!--Tabs Section-->
        <div class="tabpane">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">說明</a></li>
                    <li><a href="#tabs-2">歷史監控</a></li>
                    <li><a href="#tabs-3">說明</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="display">
                        <p class="heading">網站地圖</p>
                        <p class="content">內容待補</p>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="display">
                        <iframe src="http://localhost:8050" width=1500 height=1000></iframe>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="display">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>